# סביבה וירטואלית של פייתון
# מתעלם מכל תיקייה בשם venv
/venv/
venv/

# קובץ משתני סביבה (הכי חשוב!)
# מתעלם מכל קובץ .env
.env

# קבצי Cache של פייתון
__pycache__/
*.pyc
*.pyo
*.pyd

# תיקיות העלאה זמניות
/temp_uploads/
temp_uploads/

# קבצי בסיס נתונים (מומלץ)
*.db
*.sqlite
*.sqlite3

# קבצים ספציפיים למערכת הפעלה
.DS_Store
Thumbs.db

# תיקיות של סביבות פיתוח (IDE)
.vscode/
.idea/